<div class="box box-warning">
  <div class="box-header">
    <h1>Editar Mandato</h1>
  </div>
  <div class="box-body">
    <%= render 'form', political_mandate: @political_mandate %>
  </div>
</div>


