<% breadcrumb :new_councilman, @councilman %>

<div class="box box-success">
  <div class="container">
    <div class="box-header">

<h1>Novo Mandato</h1>
 </div>

<%= render 'form', political_mandate: @political_mandate %>
<br>
</div>
</div>

