<div class="box box-success">
  <div class="container">
    <div class="box-header">
      <h3>Novo Mandato</h3>
    </div>
    <%= render 'form', political_mandate: @political_mandate %>
    <br>
  </div>
</div>

