<div class="box box-warning">
  <div class="box-header">
<h1>Editando Tipo de projeto</h1>
</div>

<% breadcrumb :edit_project_kind, @project_kind  %>

<div class="box-body">
<%= render 'form', project_kind: @project_kind %>

</div>
</div>


