<% breadcrumb :new_project_kind, @project_kind  %>

<div class="box box-success">
  <div class="container">
    <div class="box-header">
        <h1>Novo Tipo de Projeto</h1>
    </div>
    
    <%= render 'form', project_kind: @project_kind %>
    <br>
  </div>
</div>

