<div class="box box-success">
  <div class="container">
    <div class="box-header">
      <h3>Novo Tipo de Projeto</h3>
    </div>
    <%= render 'form', project_kind: @project_kind %>
    <br>
  </div>
</div>

