<% breadcrumb :meetings %>
<div class="box box-info">
  <div class="box-header">
    <h1>Sessões</h1>
    <%= link_to 'Nova Sessão', new_meeting_path, class: "btn btn-info" %>
  </div>
  <div class="box-body  table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="">
      <tr>
        <th>Data</th>
        <th>Inicio da sessão</th>
        <th>Fim sessão</th>
        <th>Notas</th>
        <th>Projetos</th>
        <th colspan="4">Ações</th>
      </tr>
      </thead>
      <tbody>
      <%= render @meetings %>
      </tbody>
    </table>
    <div class="pagination pagination-sm no-margin pull-right">
      <%= will_paginate @meetings, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>
