<% breadcrumb :edit_councilman, @councilman %>

<div class="box box-warning">
  <div class="box-header">
<h1>Editar Vereador</h1>
    
</div>

<div class="box-body">

<%= render 'form', councilman: @councilman %>
</div>
</div>


