<div class="box box-success">
  <div class="container">
    <div class="box-header">
      <h1>Novo(a) Vereador(a)</h1>
    </div>
    <%= render 'form', councilman: @councilman %>
    <br>
  </div>
</div>

