<% breadcrumb :new_councilman, @councilman %>

<div class="box box-success">
  <div class="container">
    <div class="box-header">
      <h1>Novo Vereador</h1>
    </div>
    <%= render 'form', councilman: @councilman %>
    <br>
  </div>
</div>

