
<% breadcrumb :edit_project, @project %>


<div class="box box-warning">
  <div class="container">
    <div class="box-header">
<h1>Editar Pauta</h1>

 </div>

<%= render 'form', project: @project %>


<br>
</div>
</div>


