<% breadcrumb :new_project, @project  %>
<div class="box box-success">
<div class="container">
    <div class="box-header">
        <h1>Nova Pauta</h1>
    </div>
    
    
    <div class="box-body table-responsive">
        <%= render 'form', project: @project %>

        
    </div>
</div>
</div>
    