<div class="box box-success">
  <div class="container">
    <div class="box-header">
      <h3>Nova Pauta</h3>
    </div>
    <div class="box-body table-responsive">
      <%= render 'form', project: @project %>
    </div>
  </div>
</div>
    